@import url('https://fonts.googleapis.com/css2?family=Federo&family=Montserrat:wght@300;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: white;
    background-image:url(../imagenes/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    margin: 215px 100px;
}

h1 {
    font-family: 'Federo', sans-serif;
    text-transform: uppercase;
    font-size: 7.7em;
}

#sub {
    font-size: 2.5em
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

@media (max-width: 768px){
    body {font-size:60%}
}